body{
  margin-top: 100px; /* Specifying where the body will start on the page: */
  background-color:rgb(255, 255, 255); /* Background colour of the body is set to white: */
}

header{
  position: fixed;
  top:0;
  left:0;
  right:0;
  background:rgb(25, 118, 210); /* Colour of the menu is blue: */
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header .navbar ul{
  list-style: none;
}

header .navbar ul li{
  position: relative;
  float:left;
}

header .navbar ul li a{
  font-size: 25px;
  padding:20px;
  color: #ffffff; /* Colour of the navbar headings are set to white: */
  display: block;
  font-weight: bolder;
  text-decoration: none;
}

.hero{ /* The div where all the pages will be displayed in: */
  height: calc(100vh - 18.5px);
  display: flex;
  justify-content: center;
  align-items: center;
}